<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#0073b1;">
<div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"><i class="fab fa-linkedin" style="font-size:30px;color:white;"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><form>
        <input type="text" placeholder="" name="search">
      </form></a>
      </li>&nbsp;
      <li class="nav-item"  style="padding-left:100px;">
      <a class="nav-link"><i class="fas fa-bell" style="color:white;"></i></a>
    </li>&nbsp;
    <li class="nav-item">
    <a class="nav-link"><i class="fas fa-comment-dots" style="color:white;"></i></a>
  </li>&nbsp;
    <li class="nav-item">
    <a class="nav-link"><i class="fas fa-user-circle" style="color:white;"></i></a>
  </li>&nbsp;
  <li class="nav-item">
  <a class="nav-link"><i class="fas fa-th" style="color:white;"></i></a>
</li>
<div style="padding-left:50px;">
      <button type="button" class="btn btn-sm" style="background-color:yellow;height:40px;">Upgrade To Premium</button>
</div>
    </ul>
  </div>
</div>
</nav>

<div class="container">
  <div class="col1"><i class="fa fa-home" style="color:black;b"></i>&nbsp;Home</div>
  <div class="col2"><i class="fa fa-users" style="color:black;"></i>&nbsp;My Network</div>
  <div class="col3"><i class="fa fa-briefcase" style="color:black;"></i>&nbsp;Job Offers</div>
  <div class="col4"><i class="fa fa-user" style="color:black;"></i>&nbsp;My Profile</div>
</div>

<div class="wrapper">
<div class="one">
<div class="row">
  <div class="top">
      <img src="logo.png" alt="logo">
    <div class="medium">
    <img src="https://github.com/manthanank/Icons/blob/main/46a76c802176eb17b04e12108de7e7e0f3736dc6-1024x1024.png?raw=true" style="width:100px;height:100px;">
    </div>
    <h5>Figma</h5>
    <p>A design platform for teams who build products together.</p>
    <p class="font">Design . San Francisco, CA . * Followers</p>
    <p style="color:blue;">See all * employees on LinkedIn&nbsp;<i class="fas fa-caret-right"></i></p>
    <div class="containers">
      <button style="background-color:blue;">Follow</button>&nbsp;
      <button>Visit Website</button>&nbsp;
      <button>...</button>
    </div>
  </div>
</div>
</div>
<div class="two">
  <h6 style="padding:13px;padding-top:30px">Pages people also viewed</h6>
  <div class="row" style="padding-left:50px;
  padding-top:20px">
    <div><img src="https://github.com/manthanank/Icons/blob/main/invision-logo.png?raw=true" style="width:40px;height:40px;">&nbsp;Invision
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fas fa-eye" style="color:blue;"></i><br><div class="font">Internet . * Followers </div>
    </div>
    <div><img src="https://github.com/manthanank/Icons/blob/main/download%20(2).png?raw=true" style="width:40px;height:40px;">&nbsp;Sketch
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-eye" style="color:blue;"></i><br><div class="font">Internet . * Followers</div>
    </div>
    <div><img src="https://github.com/manthanank/Icons/blob/main/dribbble-icon-1-logo-png-transparent.png?raw=true" style="width:40px;height:40px;">&nbsp;Dribble
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-eye" style="color:blue;"></i>
      <br><div class="font">Design . * Followers</div></div>
    <div><img src="https://github.com/manthanank/Icons/blob/main/download%20(4).png?raw=true" style="width:40px;height:40px;">&nbsp;Behance
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-eye" style="color:blue;"></i>
      <br><div class="font">Internet . * Followers</div>
    </div>
    <div><img src="https://github.com/manthanank/Icons/blob/main/download%20(1).png?raw=true" style="width:40px;height:40px;">&nbsp;Overlap Studio
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-eye" style="color:blue;"></i>
      <br><div class="font">Information Technology & Services . * Followers</div></div>
    <div><img src="https://github.com/manthanank/Icons/blob/main/images.png?raw=true" style="width:40px;height:40px;">&nbsp;Medium
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-eye" style="color:blue;"></i>
      <br>Online Media . * Followers</div>
    <div><img src="https://github.com/manthanank/Icons/blob/main/download%20(3).png?raw=true" style="width:40px;height:40px;">&nbsp;Adobe
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-eye" style="color:blue;"></i>
      <br><div class="font">Computer Software . * Followers</div></div>
    <div><img src="https://github.com/manthanank/Icons/blob/main/download.png?raw=true" style="width:40px;height:40px;">&nbsp;Slack
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fas fa-eye" style="color:blue;"></i>
      <br><div class="font">Computer Software . * Followers</div></div>
  </div>
</div>
<div class="three">
<div class="row">
<div class="col"><h6><a href="active">Overview</a></h6></div>
<div class="col"><h6><a href="#">About</a></h6></div>
<div class="col"><h6><a href="#">Products</a></h6></div>
<div class="col"><h6><a href="#">Posts</a></h6></div>
<div class="col"><h6><a href="#">Jobs</a></h6></div>
<div class="col"><h6><a href="#">People</a></h6></div>
<div class="col"><h6><a href="#">Videos</a></h6></div>
</div>  
</div>
<div class="four"><h6 style="padding:10px;">About</h6>
  <p style="padding:10px;">
    Figma is the first professional-grade online tool created specifically for interface design. Born on the Web, Figma helps the entire product team create, test, and ship better designs, faster.
  </p>
  <div class="row">
    <div class="col5">
      Website Url<br>
      <a href="https://www.figma.com/">Figma.com</a>
    </div>
    <div class="col6">
      <p style="font-size:12px;">Funding Via Crunchbase</p>
      <p>Series D</p>
      <p style="color:blue;">US$ * M</p>
  </div>
  <div class="row">
    <div class="row1">
      <a href="">See all details</a>
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col"><h6>About</h6></div>
  <div class="col"><h6>Accessibilty</h6></div>
  <div class="col"><h6>Help Center</h6></div>
  <div class="row">
  <div class="col"><h6>Privacy & Terms&nbsp;<i class="fas fa-caret-down"></i></h6>
  </div>
  <div class="col"><h6>Ad Choice</h6></div>
  </div>
  <div class="row">
  <div class="col"><h6>Advertising</h6></div>
  <div class="col"><h6>Business Services</h6>&nbsp;<i class="fas fa-caret-down"></i></div>
  </div>
  <div class="row">
  <div class="col"><h6>Get The LinkedIn App</h6></div>
  <div class="col"><h6>....</h6></div>
  </div>
  <div class="row">
  <div class="col" class="div_line_top"></div>
  <div class="row">
  <div class="col"><h6>LinkedIn</h6>&nbsp;<i class="fab fa-linkedin" style="font-size:20px;color:blue;"></i></div>
  <div class="col"><h6>LinkedIn @ 2021</h6></div>
  </div>
</div>

</div>